.TodoTitle{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px 8px;
    font-weight: normal;
    color: #A5A5A5;
}

.TitleText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: aliceblue;
}

.TitleCompleted{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: aliceblue;
}



