body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
